<div id="titulo-pagina">
  <h2>Sobre nossa História</h2>
</div>
<br />
<div>
  <div style="float: left; width: 40%">
    <p>
      Com mais de 30 anos de experiência, a Link atua na representação e
      consultoria de projetos logísticos como o desenvolvimento de soluções
      integradas e personalizadas de armazenagem, transportes e distribuição ou
      na terceirização de toda cadeia logística, ligando o seu negócio com as
      mais competentes empresas do ramo de transporte e logística para que sua
      empresa torne-se cada vez mais competitiva no mercado em que atua
    </p>
    <p>
      Entre em contato e desenvolveremos a melhor solução para a sua empresa
    </p>
  </div>
  <div style="float: left; width: 12%"><p></p></div>

  <div style="float: left; width: 40%;">
    <img id="sobreImg" src="assets/SobreNos.png" class="img-fluid"/>
  </div>
</div>
