<h2>Operações de Transportes Rodoviários</h2>
<h4>Com parceiros de alto nível operacional</h4>
<div class="row">
  <div class="col-2" style="background-color: brown">
    <p
      style="
        color: aliceblue;
        float: right;
        font-size: large;
        margin-bottom: 0px;
      "
    >
      Containers
    </p>
  </div>
</div>
<div>
  <div style="width: 40%; float: left;">
    <ul>
      <li>Transporte de Containers</li>
      <li>Transporte de carga solta</li>
      <li>Trânsito Aduaneiro (Regime DTA)</li>
      <li>Transporte de cargas excedentes e projetos especiais</li>
      <li>Serviço Retro Portuário</li>
      <li>Transporte de produtos químicos e Isotanques</li>
      <li>Transporte de Cabotagem</li>
    </ul>
    <p>Rastreabilidade dos produtos em todas as etapas</p>
  </div>
  <div style="width: 10%; float: left;"><p></p></div>
  <div style="width: 40%; float: left;">
    <img src="assets/Transporte.jpg" style="max-width: 600px; max-height: 300px;"/>
  </div>
</div>
