<h2>Operações de Armazenagem em 6 Estados</h2>
<h4>"Sua operação como se fosse nossa"</h4>
<br />
<br />
<div>
  <img id="estadosImg" src="assets/Estados.png" />
  <ul style="display: inline-block">
    Diferentes modalidades de operação:
    <li>Alimentos</li>
    <li>Cosméticos & higiene pessoal</li>
    <li>Medicamentos</li>
    <li>Produtos para Saúde</li>
    <li>Automotivo e Pneus</li>
    <li>Tecnologias</li>
    <li>Têxtil e Calçados</li>
    <li>E-commerce</li>
    <li>Promocional</li>
    <li>Agro</li>
  </ul>
</div>
<p>
  As unidades possuem profissionais farmacêuticos que dão suporte diariamente as
  operações de acordo com as normas da ANVISA
</p>
<img src="assets/Anvisa.png"/><img src="assets/CRF-SP.png"/><img src="assets/Ibama.png"/>
