<div style="margin-top: 5%">
  <div style="border: 10px; border-style: solid; border-radius: 10px">
    <carousel-inicial></carousel-inicial>
  </div>
</div>

<div
  style="
    margin-top: 5%;
    text-align:center;
  "
>
  <p>
    Com mais de <b>30 anos de experiência</b>, a Link atua na representação e
    consultoria de projetos logísticos com o desenvolvimento de soluções
    integradas e personalizadas de armazenagem, transportes e distribuição ou na
    então na terceirização de toda cadeia logística, ligando o seu negócio com as mais
    competentes empresas do ramo de transporte e logística para que sua empresa
    torne-se cada vez mais competitiva no mercado em que atua.
  </p>
  <p>
    Entre em contato e
    desenvolveremos a melhor solução para a sua empresa.
  </p>
</div>
