
  <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bolder; margin-left: -5%;">Sua operação como se fosse nossa</h1>
<div style="margin-top: 1%">
  <div style="border: 10px; border-style: solid; border-radius: 10px">
    <carousel-inicial></carousel-inicial>
  </div>
</div>

<div
  style="
    margin-top: 5%;
    text-align:center;
  "
>
  <p>
    Com mais de <b>30 anos de experiência</b>, a Link atua na representação e
    consultoria de projetos logísticos com o desenvolvimento de soluções
    integradas e personalizadas de armazenagem, transportes e distribuição e até mesmo na terceirização de toda cadeia logística, ligando o seu negócio com as mais
    competentes empresas do ramo de transporte e logística para que a sua organização
    torne-se cada vez mais competitiva no mercado em que atua.
  </p>
  <p>
    Entre em contato e
    iremos desenvolver a melhor solução para a sua empresa.
  </p>
</div>

<br>
<br>

<div class="row" style="max-height: 100px;">
  <div class="col-4" style=" text-align: right;">
    <img
    srcset="assets/AnvisaT.png"
    alt="anvisa"
    class="d-block img-fluid"
    style="display:inline-block !important; max-height: 100px !important; position: relative; top: 50% !important; transform: translateY(-50%) !important;"
    />
  </div>
  <div class="col-4" style="text-align: center;">
    <img
    srcset="assets/logo_crfsp.png"
    alt="crf-sp"
    class="d-block img-fluid"
    style="display:inline-block !important; max-height: 100px !important; position: relative; top: 50% !important; transform: translateY(-50%) !important;"
    />
  </div>
  <div class="col-4">
    <img
    srcset="assets/Ibama.png"
    alt="anvisa"
    class="d-block img-fluid"
    style="display:inline-block !important; max-height: 100px !important; position: relative; top: 50% !important; transform: translateY(-50%) !important;"
    />
  </div>
</div>
